* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", serif;
}

body{
    background-color: #ddd;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.preview-set{
    margin-top: 30px;
    margin-left: 50px;
}

.preview {
    width: 800px;
}

.window {
    height: 25px;
    width: 100%;
    background-color: #222;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.nav-window {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: fit-content;
    height: 100%;
}

.circle {
    display: block;
    margin: 2px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

#red {
    background-color: #ff5f56;
}

#yellow {
    background-color: #ffbd2e;
}

#green {
    background-color: #27c93f;
}

.url {
    width: 60%;
    height: 20px;
    background-color: #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    color: #ddd;
}

.blank {
    width: 52px;
    height: 100%;
}

.preview img {
    width: calc(100% + 6px);
    border-radius: 0 0 5px 5px;
}

.settings {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    padding: 0px 20px;
    background-color: #2f3542;
}

#url-settings{
    margin-top: 40px;
}

.sub-settings{
    margin-bottom: 30px;
}

.sub-settings h3{
    color: #dadada;
    font-size: 20px;
    font-weight: 400;
}

#url-settings input{
    margin-top: 5px;
    outline: none;
    border: none;
    background-color: #3f4758;
    width: 200px;
    padding: 10px;
    color: #eee;
}

#url-settings input:focus {
    outline: none;
    box-shadow: none;
}

#theme-select div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
}

#theme-select input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#theme-select input[type="radio"]:checked+span {
    /* box-shadow: 0 0 0 0.0625em #00BFFF; */
    box-shadow: 0 0 0 0.0625em #ffffff;
    background-color: #5f6d87;
    z-index: 1;
    color: #ffffff;
    /* color: #00BFFF; */
}

#theme-select label span {
    display: block;
    cursor: pointer;
    background-color: #3f4758;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #cccccc;
    text-align: center;
    transition: background-color .5s ease;
}

#theme-select label:first-child span {
    border-radius: .375em 0 0 .375em;
}

#theme-select label:last-child span {
    border-radius: 0 .375em .375em 0;
}

#custom-clr{
    margin-top: 10px;
    margin-left: 10px;
}

.custom-clr-detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#custom-clr p{
    color: #ccc;
}

#custom-clr input{
    margin-right: 20px;
}

#custom-clr input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: not-allowed;
}

#ud-btn{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ud-btn label{
    width: 100%;
    display: flex;
    justify-content: center;
}

#ud-btn button{
    width: 80%;
    height: 40px;
    margin: 5px;
    border: 2px solid #eee;
    color: #eee;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

#ud-btn button:hover{
    background-color: #eee;
    color: #000;
}

#ud-btn input{
    display: none;
}